<div class="sidebar col-md-4 col-lg-3 p-0 sideLong">
    <div
        class="offcanvas-md offcanvas-end"
        tabindex="-1"
        id="sidebarMenu"
        aria-labelledby="sidebarMenuLabel"
    >
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="sidebarMenuLabel">
                Kelompok 2 TE4B
            </h5>
            <button
                type="button"
                class="btn-close"
                data-bs-dismiss="offcanvas"
                data-bs-target="#sidebarMenu"
                aria-label="Close"
            ></button>
        </div>
        <div
            class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto"
        >
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a
                        class="nav-link d-flex align-items-center fs-5 gap-3 btnbar rounded-3 mx-3"
                        aria-current="page"
                        href="index.php"
                        id="index"
                    >
                        <svg class="bi">
                            <use xlink:href="#house-fill" />
                        </svg>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link d-flex align-items-center fs-5 gap-3 btnbar rounded-3 mx-3"
                        aria-current="page"
                        href="thingspeak.php"
                        id="thingspeak"
                    >
                        <svg class="bi">
                            <use xlink:href="#chat-right" />
                        </svg>
                        Thingspeak
                    </a>
                </li>
            </ul>

            <h6
                class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase"
            >
                <span>Log</span>
            </h6>
            <ul class="nav flex-column mb-auto">
                <li class="nav-item">
                    <a
                        class="nav-link d-flex align-items-center fs-6 gap-3 btnbar rounded-3 mx-3"
                        href="suhu.php"
                        id="suhu"
                    >
                        <svg class="bi">
                            <use xlink:href="#bi-thermometer-half" />
                        </svg>
                        Suhu
                    </a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link d-flex align-items-center fs-6 gap-3 btnbar rounded-3 mx-3"
                        href="jarak.php"
                        id="jarak"
                    >
                        <svg class="bi">
                            <use xlink:href="#rulers" />
                        </svg>
                        Jarak
                    </a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link d-flex align-items-center fs-6 gap-3 btnbar rounded-3 mx-3"
                        href="cahaya.php"
                        id="cahaya"
                    >
                        <svg class="bi">
                            <use xlink:href="#light" />
                        </svg>
                        Cahaya
                    </a>
                </li>
            </ul>

            <hr class="my-3" />

            <ul class="nav flex-column mb-auto">
                <li class="nav-item">
                    <a
                        class="nav-link d-flex align-items-center fs-6 gap-3 btnbar rounded-3 mx-3"
                        href="anggota.php"
                        id="anggota"
                    >
                        <svg class="bi">
                            <use xlink:href="#people" />
                        </svg>
                        Anggota Kelompok
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
